@model IEnumerable<MVC.Newsreel.Data.User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактори</title>
</head>
<body>
<!--<p>
    <a asp-action="Create">Додати нового редактора</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                Редактори
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="border-table">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Profile" asp-route-id="@item.Id">Профіль</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <p>Якщо бажаєте стати редактором - напишіть нам на пошту cyberbanderka.admin@gmail.com!</p>
</div>

</body>
</html>
