@model IEnumerable<MVC.Newsreel.Data.User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактори</title>
</head>
<body>
<p>
    <a asp-action="Create">Додати нового редактора</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Редактори
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="border-table">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserId">Статті</a> |
                <a asp-action="Comments" asp-route-id="@item.UserId">Коментарі</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-3">
        <div id="countByAuthorChart"></div>
    </div>
</div>
@section Scripts
{
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);
    function drawCharts() {
        fetch('/api/charts/countByAuthor')
        .then(response => response.json())
        .then(data => { 
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Редактор');
            dataTable.addColumn('number', 'Кількість статей');
            data.forEach(item => {
                dataTable.addRow([item.author, item.count]);
            });
            const options = {
                title: 'Статті за редакторами',
                width: 750,
                height: 500,
                legend: { position: 'none' },
            };
            const chart = new google.visualization.ColumnChart(document.getElementById('countByAuthorChart'));
            chart.draw(dataTable, options);
        });
    }
</script>
}

</body>
</html>
