@using Microsoft.AspNetCore.Identity
@inject UserManager<MVC.Newsreel.Data.User> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyberBanderka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_morph.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.Newsreel.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CyberBanderka</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Index">Статті</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Редактори</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Категорії</a>
                        </li>
                        @{
                        if (User.IsInRole("admin") || User.IsInRole("editor")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ArticleDraft" asp-action="Index">Чорнові статті</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ArticleRequest" asp-action="Index">Керування статтями</a>
                        </li>
                        }}
                        <!--<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Правила сайту</a>
                        </li>-->
                    </ul>
                </div>
                @if(User.Identity.IsAuthenticated)
                {
                     <ul class="navbar-nav navbarchik">
                        <li class="nav-item">
                            <a class="nav-link text-dark high-heels" asp-controller="User" asp-action="Profile" 
                            asp-route-id="@_userManager.GetUserId(User)">
                                @User.Identity.Name
                            </a>
                        </li>
                        <li class="nav-item">
                            <form asp-controller="Account" asp-action="Logout">
                                    <input type="submit" value="Вихід" class="btn-size btn-login" style="font-weight:bold;"/>
                            </form>
                        </li> 
                    </ul> 
                }
                else{
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form method="get" asp-controller="Account" asp-action="Login">
                                <input type="submit" value="Вхід" class="btn-size btn-login" style="font-weight:bold;"/>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form method="get" asp-controller="Account" asp-action="Register">
                                <input type="submit" value="Реєстрація" class="btn-size btn-signup" style="font-weight:bold;"/>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CyberBanderka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Правила сайту</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
