@model MVC.Newsreel.ViewModel.ChangePasswordViewModel
<h2>Змінити пароль</h2>

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success" role="alert">
        Пароль успішно змінено!
    </div>
}

<form method="post" asp-controller="Account" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="CurrentPassword"></label><br />
        <input asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div>
        <label asp-for="NewPassword"></label><br />
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <input type="submit" value="Змінити пароль" />
    </div>
</form>