@model MVC.Newsreel.ViewModel.ForgotPasswordModel

<div class="container">

    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Якщо ви зареєстровані, <br />
                    Ми надіслали лист на вашу email пошту</p>
                </div>
            }
            else
            {
                <p>Забули пароль?</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Надіслати" class="btn btn-primary" />
                    </div>
                </form>
            }
            <div>
                <p><a asp-action="Login" asp-controller="Account">Вхід</a></p>
            </div>
        </div>
        
    </div>

   


</div>