@model IEnumerable<MVC.Newsreel.Data.Category>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Категорії</title>
</head>
<body>
<p>
    <a asp-action="Create">Додати нову категорію</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Категорії
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
