@model IEnumerable<MVC.Newsreel.Data.Category>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Категорії</title>
</head>
<body>
<p>
    <a asp-action="Create">Додати нову категорію</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Категорії
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CategoryId">Cтатті</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-3">
        <div id="countByCategoryChart"></div>
    </div>
</div>
@section Scripts
{
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);
    function drawCharts() {
        fetch('/api/charts/countByCategory')
        .then(response => response.json())
        .then(data => { 
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('string', 'Категорія');
            dataTable.addColumn('number', 'Кількість статей');
            data.forEach(item => {
                dataTable.addRow([item.category, item.count]);
            });
            const options = {
                title: 'Статті за категоріями',
                width: 750,
                height: 500,
                legend: { position: 'none' },
            };
            const chart = new google.visualization.ColumnChart(document.getElementById('countByCategoryChart'));
            chart.draw(dataTable, options);
        });
    }
</script>
}

</body>
</html>
