<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Статті</title>
</head>
<body>
<h2>Імпорт файлів із форматами</h2>
<p>
    <a asp-action="ImportExcel">XSLX</a> | <a asp-action="ImportDocx">DOCX</a> | <a>PDF</a>
</p>
</body>